.post-list {
  min-height: 100vh;
  width: 350px;
  background-color: #111111;
  color: white;
  float: left;
}

.post-list-title {
  text-align: center;
  font-size: 24px;
  height: 50px;
}

.post-list-blocks {
  height: calc(100vh - 90px);
  overflow-x: auto;
}

.post-list-dismiss {
  height: 40px;
}

.post-list-dismiss > button {
  margin: 5px auto;
  width: 90%;
  display: block;
  height: 30px;
  background: #333333;
  border: none;
  color: #bd7f0c;
}

.post-list-dismiss > button:hover {
  background-color: #444444;
}