.post-block {
  margin-top: 10px;
  color: gray;
  text-align: center;
}

.post-block a {
  text-decoration: none;
}

.post-block a:hover {
  text-decoration: none;
}

.unseen {
  color: white;
}

.post-block header {
  margin-bottom: 10px;
}

.post-block main {
  font-size: 12px;
  margin-bottom: 10px;
}

.post-block footer {
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  padding: 10px;
  text-align: left;
}

.post-block-author {
  font-size: 20px;
  margin-right: 5px;
}

.post-block-date {
  color: grey;
}

.post-block-image {
  max-width: 100px;
  margin-left: 20px;
  margin-right: 10px;
}

.post-block-title {
  display: inline-block;
  width: 200px;
  text-align: left;
}

.post-block-comments {
  float: right;
  padding: 10px;
  color: #bd7f0c;
}
